//- 레이아웃 가져오기
extends layouts/main

//- 레이아웃에서 block content 부분을 작성할 수 있다
block content
    .form-container
        //- get은 정보가 url로 가기에 post로 보내야 한다
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name",required=true)
            input(type="email", name="email", placeholder="Email",required=true)
            input(type="password", name="password", placeholder="Password",required=true)
            input(type="password", name="password2", placeholder="Verify Password",required=true)
            input(type="submit",value="Join Now")
        include partials/socialLogin